@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$light-theme: matx.define-theme();

$dark-theme: matx.define-theme((
  color: (
    theme-type: dark
  )
));

html {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
